*.pyc
*.swp
*.log
*.sql
*.sqlite
db.sqlite3
personalsite/settings.py
personalsite/urls.py
migrations/
#this is actually for the base static file
#where the static files are migrated to
static/

urls.py
settings.py

__pycahce__/
