/* overriding 10px leftover under li a */
#navbar{
    padding-left:15%;
    padding-right:15%;
    min-height: 40px;
}

.nav{
    list-style-type: none;
}

li.nav-item{
    float: left;
}

li.nav-item a{
    display:block;
}

.view{
    width:70%;
    margin:auto;
}

/* content stuff */
.content{
    float:left;
}

/* side bar stuff */
.sidebar{
    float:right;    
}
