cel{
	padding: 10px;
}

div.card-bottom-padding{
	padding-bottom:30px;
}

div.card-line{
	height: 240px;
	overflow: hidden;
	border: 1px solid;
	border-color: lightgrey;
	border-radius: 2px;
}

div.card-color{
	background-color: #ffffff;
}

div.inner-card-padding{
	padding-left: 10px;
}

p.summary-text{
	font-size: 1.7rem;
}

h3.no-highlight{	
	color: #3f3f3f;
}

a h3.no-highlight:hover{
	text-decoration: none;
}
