<!-- DOCTYPE html -->
<!-- this is what wraps around all the content. -->

{% load static %}

<head>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}" alt="NoWork"/>

</head>

<body>
    <nav id="navbar" class="navbar navbar-default">
        <div class="navbar-header navbar-left">
            <ul class="nav">
                <li class="nav-item"><a href="">PROJECTS</a></li>
                <li class="nav-item"><a href="{% url 'blog_list' %}">BLOGS</a></li>
                {# Hey look i did this right #}
                <li class="nav-item"><a href="{% url 'contact' %}">CONTACT ME</a></li>
            </ul>
        </div>
    </nav> <!-- navbar-default -->

    <div class='view'>

        <!--
            I made add this in later
        <div class='sidebar'>
            <p> this will jus tbe some texa dklfjasldfkj
            asdflkjasdflkjasdf asdkljf hsakdjfh
            <p>
        </div>
        -->

        <div class='content'> 
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
