{% extends "base.html" %}
{# I have to make sure that i load static for each file if i'm going to use it #}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static "css/list.css" %}"/>
{% endblock link %}

{% block content %} 


	<h1> {{title}} </h1>
	<br>

	<!-- once i have some quotes in the database add the quotes section -->

    <!-- all the available blogs -->
	{% if objects %}
		<div class="row">
		{% for obj in objects %}
			<div class="col-lg-2 card-bottom-padding"> 
				<div class="card card-line card-color">
					<div class="card-block inner-card-padding">
						<a href="{{ obj.get_url }}"><h3 class="card-title no-highlight"> {{ obj.title }} </h3></a>
						<p class="card-text summary-text"> {{ obj.get_summary }}[...]</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<h2> Sorry there isn't anything here yet</h2>
	{% endif %}

{% endblock content %}
