{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>
        Like what you see? Then shoot me an email!
    </h1>
    <table>
        <tr>
            <td>Name:</td>
            <td>Erik Brandon Zapata</td>
        </tr> 
        <tr>
            <td>Email:</td>
            <td>zapatabrandon@gmail.com</td>
        </tr>
         <tr>
            <td>Phone:</td>
            <td>Ask for it in the Email</td>
        </tr>
        <tr>
            <td>LinkedIn:</td>
            <td><a href="">Click Me</a></td>
        </tr>
   </table><br>
    <p>
        If you need more info just mention it in the email.
        While you're looking around here, check out my other projects.
    </p>    
</div>
{% endblock content %}
