{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
	<h1>
		Like what you see? Then shoot me an email!
	</h1>
	<table>
		<tr>
			<td>Name:</td>
			<td>Erik Brandon Zapata</td>
		</tr> 
		<tr>
			<td>Email:</td>
			<td>zapatabrandon@gmail.com</td>
		</tr>
		 <tr>
			<td>Phone:</td>
			<td>Ask for it in the Email</td>
		</tr>
		<tr>
			<td>LinkedIn:</td>
			<td><a href="https://www.linkedin.com/in/erik-zapata-a86290127/">Click Me</a></td>
		</tr>
		<tr>
			<td>Github:</td>
			<td><a href="https://github.com/ErikBZ">Click Me</a></td>
		</tr>
	</table><br>

	<!-- Resume part i guess -->

	<h2>Resume - <a href="{% static "pdfs/resume.pdf" %}">Pdf</a></h2>
	<h3>Experience</h3>
		<p>
			<strong>Undergraduate Teacher's Assistant - 9/17 to Current</strong><br>
			<ul>
				<li>Assisted students in learning Python, Numpy and OpenCV</li>
				<li>Helped teach edge detection, compression and features detection techniques</li>
			</ul>
		</p>
		<p>
			<strong>Systems Devloper Intern Gallup - 5/17 to 8/17</strong><br>
			<ul>
				<li>Wrote Powershell scripts to test, and deploy changes made by developers on a TFS and Windows Server stack</li>
				<li>Wrote and deployed Powershell script that sets up workstations for new hires, slashing time to set up from a week to a couple hours</li>
				<li>Created workflow automation prototypes with AWS, and in-house set ups to start and monitor various computing jobs for the marketing team</li>
			</ul>
		</p>
		<p>
			<strong>Geek Squad Repair Agent - 10/15 to 5/17</strong><br>
			<ul>
				<li>Automated virus checking, computer setup and other common tasks with shell scripts</li>
				<li>Fixed a range of computer issues from Windows BSODs, OSX bugs and Linux configurations</li>
			</ul>
		</p>
	<h3>Education</h3>
		<p>
			<strong>George Mason University</strong><br>
			Computer Science B.S -- December 2017 Expected Graduation
		</p>
	<h3>Projects</h3>
		<p>Check out the projects tab or my <a href="https://github.com/ErikBZ">github</a> profile!</p>
	<h3>Skills</h3>
		<ul>
			<li>3 years using GNU/Linux and Windows as my primarty operating systems</li>
			<li>About 2 years expereince with C#, Java, C/C++ and Python</li>
			<li>About 1 year with HTML/JS/CSS</li>
			<li>Currently learning Ruby, Rust, and SQL</li>
			<li>About 1 year using Microsoft MVC and Django web frameworks</li>
			<li>Currently working on learning network sniffing, deployment automation, and network security</li>
		</ul>
	<h3>Interests</h3>
		<ul>
			<li>OS Dev</li>
			<li>Security, both making things secure and breaking things that aren't</li>
			<li>SF/SciFi Short Stories and Films</li>
		</ul>

	<p>
	   If you need more info just mention it in the email.
	   While you're looking around here, check out my projects and blogs.
	</p>    
</div>
{% endblock content %}
